body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:3726px;
  top:2688px;
  width:1242px;
  height:2688px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2484px;
  top:2688px;
  width:1242px;
  height:2688px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2688px;
  width:1242px;
  height:2688px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:3726px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:2688px;
  width:1242px;
  height:2688px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2484px;
  top:0px;
  width:1242px;
  height:2688px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
