body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:2961px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:2961px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:565px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:2365px;
  width:1150px;
  height:565px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:1166px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:30px;
  width:1150px;
  height:1166px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:1328px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:1193px;
  width:1150px;
  height:1328px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u378 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:102px;
  width:266px;
  height:104px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u379 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:679px;
  width:266px;
  height:104px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u380 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:1408px;
  width:266px;
  height:104px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u381 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:1916px;
  width:266px;
  height:104px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u382 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:2403px;
  width:266px;
  height:104px;
  -webkit-transform:rotate(39deg);
  -moz-transform:rotate(39deg);
  -ms-transform:rotate(39deg);
  transform:rotate(39deg);
  font-family:'Tw Cen MT Normal', 'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:90px;
  color:rgba(228, 228, 228, 0.498039215686275);
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
