body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:260px;
  width:23px;
  height:23px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:260px;
  width:23px;
  height:23px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:260px;
  width:23px;
  height:23px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:260px;
  width:23px;
  height:23px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:260px;
  width:23px;
  height:23px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:260px;
  width:23px;
  height:23px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:260px;
  width:23px;
  height:23px;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:260px;
  width:23px;
  height:23px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
  background:inherit;
  background-color:rgba(47, 66, 106, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:189px;
  width:960px;
  height:540px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:468px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:265px;
  width:809px;
  height:468px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:359px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:319px;
  width:1px;
  height:358px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:196px;
  width:145px;
  height:69px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:200px;
  width:60px;
  height:60px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:202px;
  width:81px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:232px;
  width:23px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:189px;
  width:168px;
  height:44px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:195px;
  width:53px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:49px;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:213px;
  width:87px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:83px;
  word-wrap:break-word;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:213px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#66FF00;
  text-align:right;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:195px;
  width:66px;
  height:17px;
  font-size:12px;
  color:#66FF00;
  text-align:right;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:62px;
  word-wrap:break-word;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:196px;
  width:145px;
  height:69px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:200px;
  width:60px;
  height:60px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:202px;
  width:81px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:232px;
  width:23px;
  height:23px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:196px;
  width:145px;
  height:69px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:200px;
  width:60px;
  height:60px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:202px;
  width:81px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:232px;
  width:23px;
  height:23px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:207px;
  width:45px;
  height:13px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:207px;
  width:42px;
  height:13px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:10px;
  color:#FFFFFF;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:249px;
  width:49px;
  height:178px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:324px;
  width:36px;
  height:30px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:265px;
  width:34px;
  height:34px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:379px;
  width:34px;
  height:34px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:207px;
  width:41px;
  height:32px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:196px;
  width:145px;
  height:69px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:200px;
  width:60px;
  height:60px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:202px;
  width:81px;
  height:24px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:232px;
  width:23px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:237px;
  width:144px;
  height:28px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:243px;
  width:53px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:49px;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:240px;
  width:22px;
  height:22px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:40px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:668px;
  width:28px;
  height:40px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:329px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:295px;
  width:596px;
  height:329px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#66FF00;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:295px;
  width:300px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#66FF00;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:2px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:331px;
  width:596px;
  height:1px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:517px;
  width:303px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:299px;
  word-wrap:break-word;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:560px;
  width:60px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:382px;
  width:266px;
  height:9px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:382px;
  width:1px;
  height:9px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:382px;
  width:1px;
  height:9px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:382px;
  width:1px;
  height:9px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:382px;
  width:1px;
  height:9px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:382px;
  width:1px;
  height:9px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:382px;
  width:1px;
  height:9px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:383px;
  width:65px;
  height:8px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:382px;
  width:1px;
  height:9px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:377px;
  width:19px;
  height:19px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:383px;
  width:1px;
  height:7px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:383px;
  width:1px;
  height:7px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:383px;
  width:1px;
  height:7px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:416px;
  width:266px;
  height:9px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:8px;
  background:inherit;
  background-color:rgba(102, 255, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:417px;
  width:82px;
  height:8px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:416px;
  width:1px;
  height:9px;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:416px;
  width:1px;
  height:9px;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:416px;
  width:1px;
  height:9px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:416px;
  width:1px;
  height:9px;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:416px;
  width:1px;
  height:9px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:416px;
  width:1px;
  height:9px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:416px;
  width:1px;
  height:9px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:411px;
  width:19px;
  height:19px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:417px;
  width:1px;
  height:7px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:417px;
  width:1px;
  height:7px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:417px;
  width:1px;
  height:7px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:449px;
  width:266px;
  height:9px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:449px;
  width:1px;
  height:9px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:449px;
  width:1px;
  height:9px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:449px;
  width:1px;
  height:9px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:449px;
  width:1px;
  height:9px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:449px;
  width:1px;
  height:9px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:449px;
  width:1px;
  height:9px;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:8px;
  background:inherit;
  background-color:rgba(102, 255, 0, 1);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:450px;
  width:65px;
  height:8px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:449px;
  width:1px;
  height:9px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:444px;
  width:19px;
  height:19px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:450px;
  width:1px;
  height:7px;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:450px;
  width:1px;
  height:7px;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:450px;
  width:1px;
  height:7px;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:483px;
  width:266px;
  height:9px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:483px;
  width:1px;
  height:9px;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:483px;
  width:1px;
  height:9px;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:483px;
  width:1px;
  height:9px;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:483px;
  width:1px;
  height:9px;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:483px;
  width:1px;
  height:9px;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:483px;
  width:1px;
  height:9px;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:484px;
  width:65px;
  height:8px;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:10px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:483px;
  width:1px;
  height:9px;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:478px;
  width:19px;
  height:19px;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:484px;
  width:1px;
  height:7px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:484px;
  width:1px;
  height:7px;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:484px;
  width:1px;
  height:7px;
}
#u2281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:362px;
  width:462px;
  height:151px;
  font-size:16px;
  color:#FFFFFF;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:372px;
  width:81px;
  height:29px;
  font-size:18px;
}
#u2283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:401px;
  width:81px;
  height:29px;
  font-size:18px;
}
#u2284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:434px;
  width:81px;
  height:29px;
  font-size:18px;
}
#u2285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:473px;
  width:81px;
  height:29px;
  font-size:18px;
}
#u2286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:372px;
  width:81px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u2287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:406px;
  width:81px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u2288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:439px;
  width:81px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u2289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:478px;
  width:81px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u2290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u2291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:33px;
  width:200px;
  height:78px;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:196px;
  word-wrap:break-word;
}
#u2292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:27px;
  width:80px;
  height:78px;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  word-wrap:break-word;
}
#u2293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:9px;
  width:309px;
  height:138px;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:305px;
  word-wrap:break-word;
}
#u2294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:39px;
  width:261px;
  height:78px;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:257px;
  word-wrap:break-word;
}
#u2295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:39px;
  width:261px;
  height:78px;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:257px;
  word-wrap:break-word;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:287px;
  width:261px;
  height:138px;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u2296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:257px;
  word-wrap:break-word;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:111px;
  width:0px;
  height:0px;
  color:#6B6B6B;
}
#u2297_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:352px;
}
#u2297_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:344px;
  width:83px;
  height:8px;
}
#u2297_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2297_seg3 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:338px;
  width:20px;
  height:20px;
}
#u2297_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:206px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:105px;
  width:0px;
  height:0px;
  color:#6B6B6B;
}
#u2298_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:4px;
  height:8px;
}
#u2298_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:290px;
}
#u2298_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:278px;
  width:109px;
  height:8px;
}
#u2298_seg3 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2298_seg4 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:272px;
  width:20px;
  height:20px;
}
#u2298_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:147px;
  width:0px;
  height:0px;
  color:#6B6B6B;
}
#u2299_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u2299_seg1 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:19px;
  width:114px;
  height:8px;
}
#u2299_seg2 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:19px;
  width:8px;
  height:217px;
}
#u2299_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2299_seg4 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:221px;
  width:20px;
  height:20px;
}
#u2299_text {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:117px;
  width:0px;
  height:0px;
  color:#6B6B6B;
}
#u2300_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u2300_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:49px;
  width:65px;
  height:8px;
}
#u2300_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:49px;
  width:8px;
  height:225px;
}
#u2300_seg3 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:266px;
  width:182px;
  height:8px;
}
#u2300_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2300_seg5 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:260px;
  width:20px;
  height:20px;
}
#u2300_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:188px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:78px;
  width:0px;
  height:0px;
  color:#6B6B6B;
}
#u2301_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-4px;
  width:25px;
  height:8px;
}
#u2301_seg1 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-4px;
  width:8px;
  height:462px;
}
#u2301_seg2 {
  border-width:0px;
  position:absolute;
  left:-440px;
  top:450px;
  width:423px;
  height:8px;
}
#u2301_seg3 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2301_seg4 {
  border-width:0px;
  position:absolute;
  left:-445px;
  top:444px;
  width:20px;
  height:20px;
}
#u2301_text {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:418px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:425px;
  width:0px;
  height:0px;
  color:#6B6B6B;
}
#u2302_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:152px;
}
#u2302_seg1 {
  border-width:0px;
  position:absolute;
  left:-631px;
  top:144px;
  width:635px;
  height:8px;
}
#u2302_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2302_seg3 {
  border-width:0px;
  position:absolute;
  left:-636px;
  top:138px;
  width:20px;
  height:20px;
}
#u2302_text {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:140px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
