body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u6788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:51px;
}
#u6789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:16px;
  width:20px;
  height:20px;
}
#u6790_img.mouseOver {
}
#u6790.mouseOver {
}
#u6790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:443px;
  width:50px;
  height:50px;
}
#u6792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:456px;
  width:24px;
  height:24px;
}
#u6793_img.mouseOver {
}
#u6793.mouseOver {
}
#u6793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:445px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:1880px;
  top:458px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6796_img.mouseOver {
}
#u6796.mouseOver {
}
#u6796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6797 {
  position:absolute;
  left:900px;
  top:0px;
}
#u6797_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  background-image:none;
}
#u6797_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  font-size:20px;
  color:#FFFFFF;
}
#u6798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u6797_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  visibility:hidden;
  background-image:none;
}
#u6797_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  font-size:20px;
  color:#FFFFFF;
}
#u6799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u6797_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  visibility:hidden;
  background-image:none;
}
#u6797_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:51px;
  font-size:20px;
  color:#FFFFFF;
}
#u6800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:319px;
  width:440px;
  height:298px;
}
#u6802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:298px;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:319px;
  width:438px;
  height:298px;
}
#u6803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
