body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:935px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:935px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:937px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u956 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:301px;
  width:410px;
  height:252px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:301px;
  width:410px;
  height:38px;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:406px;
  word-wrap:break-word;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#434343;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:301px;
  width:37px;
  height:37px;
  font-size:30px;
  color:#434343;
}
#u958_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  color:#434343;
}
#u958.mouseOver {
  opacity:0.8;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:499px;
  width:80px;
  height:23px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u959_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u959.mouseOver {
  opacity:0.8;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:374px;
  width:85px;
  height:22px;
  font-size:14px;
  text-align:right;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:81px;
  word-wrap:break-word;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:374px;
  width:160px;
  height:22px;
}
#u962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:454px;
  width:98px;
  height:22px;
  font-size:14px;
  text-align:right;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:94px;
  word-wrap:break-word;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:454px;
  width:160px;
  height:22px;
}
#u964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:414px;
  width:85px;
  height:22px;
  font-size:14px;
  text-align:right;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:81px;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:414px;
  width:160px;
  height:22px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:17px;
  width:1px;
  height:23px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:3px;
  width:55px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
  text-align:center;
  line-height:18px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:13px;
  width:146px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:142px;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u973 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:286px;
  width:400px;
  height:365px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:304px;
  width:274px;
  height:45px;
  font-size:18px;
  color:#868686;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:270px;
  word-wrap:break-word;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:362px;
  width:350px;
  height:40px;
  font-size:18px;
  color:#868686;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:367px;
  width:302px;
  height:29px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:371px;
  width:20px;
  height:22px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:422px;
  width:350px;
  height:40px;
  font-size:18px;
  color:#868686;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:427px;
  width:302px;
  height:29px;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:431px;
  width:17px;
  height:22px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#868686;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:482px;
  width:222px;
  height:40px;
  font-size:18px;
  color:#868686;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:487px;
  width:177px;
  height:29px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:491px;
  width:19px;
  height:22px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:483px;
  width:101px;
  height:38px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:36px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:584px;
  width:352px;
  height:36px;
  font-size:16px;
  color:#FFFFFF;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:348px;
  word-wrap:break-word;
}
