body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1813px;
}
#u14684 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-7px;
  width:1920px;
  height:1813px;
}
#u14684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:984px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14685 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:668px;
  width:1213px;
  height:984px;
}
#u14685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14686 {
  position:fixed;
  left:0px;
  top:0px;
}
#u14686_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background-image:none;
}
#u14686_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u14687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14688 {
  position:fixed;
  right:20px;
  top:0px;
}
#u14688_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:453px;
  height:50px;
  background-image:none;
}
#u14688_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u14690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u14691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14691 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u14691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u14692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14692 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u14692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u14693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u14693 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:7px;
  width:36px;
  height:36px;
}
#u14693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14694 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:117px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u14695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u14695 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:13px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u14695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u14696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14697 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u14697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u14698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u14698 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u14698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u14699 {
  position:fixed;
  right:0px;
  top:0px;
  visibility:hidden;
}
#u14699_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background-image:none;
}
#u14699_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14701 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:55px;
  height:50px;
}
#u14701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u14702 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:13px;
  width:36px;
  height:24px;
}
#u14702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u14703 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:11px;
  width:28px;
  height:28px;
}
#u14703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:887px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:887px;
}
#u14705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14706_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14706.mouseOver {
}
#u14706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u14707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14707_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14707.mouseOver {
}
#u14707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u14708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14708_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u14708.mouseOver {
}
#u14708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u14709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:556px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14710 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:102px;
  width:1120px;
  height:556px;
}
#u14710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:514px;
}
#u14711 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:123px;
  width:514px;
  height:514px;
}
#u14711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:216px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  line-height:60px;
}
#u14713 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:289px;
  width:494px;
  height:216px;
  font-size:28px;
  color:#FFFFFF;
  line-height:60px;
}
#u14713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  line-height:60px;
}
#u14715 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:515px;
  width:494px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
  line-height:60px;
}
#u14715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14716 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:530px;
  width:216px;
  height:30px;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u14717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14717 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:530px;
  width:229px;
  height:30px;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u14718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14718 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:570px;
  width:216px;
  height:30px;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u14719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14719 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:570px;
  width:229px;
  height:30px;
  font-size:20px;
  color:#A1A1A1;
  text-align:left;
  line-height:30px;
}
#u14719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u14720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:48px;
}
#u14720 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:128px;
  width:494px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:48px;
}
#u14720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:490px;
  word-wrap:break-word;
}
#u14721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u14723 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:188px;
  width:36px;
  height:36px;
}
#u14723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14724 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:190px;
  width:32px;
  height:32px;
}
#u14724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14725 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:188px;
  width:211px;
  height:36px;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-12px;
  width:207px;
  word-wrap:break-word;
}
#u14726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:60px;
}
#u14726 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:196px;
  width:64px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:60px;
}
#u14726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-20px;
  width:60px;
  word-wrap:break-word;
}
#u14727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#6B6B6B;
  text-align:left;
  line-height:60px;
}
#u14728 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:325px;
  width:257px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#6B6B6B;
  text-align:left;
  line-height:60px;
}
#u14728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:253px;
  word-wrap:break-word;
}
#u14729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:-webkit-linear-gradient(315deg, rgba(92, 95, 98, 1) 0%, rgba(92, 95, 98, 1) 0%, rgba(174, 174, 174, 1) 100%, rgba(174, 174, 174, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(92, 95, 98, 1) 0%, rgba(92, 95, 98, 1) 0%, rgba(174, 174, 174, 1) 100%, rgba(174, 174, 174, 1) 100%);
  background:linear-gradient(135deg, rgba(92, 95, 98, 1) 0%, rgba(92, 95, 98, 1) 0%, rgba(174, 174, 174, 1) 100%, rgba(174, 174, 174, 1) 100%);
  border:none;
  border-radius:600px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14730 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:246px;
  width:117px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14731 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:251px;
  width:75px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:71px;
  word-wrap:break-word;
}
#u14732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u14732 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:246px;
  width:365px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u14732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:361px;
  word-wrap:break-word;
}
#u14733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14733 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:252px;
  width:20px;
  height:20px;
}
#u14733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u14734 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:339px;
  width:28px;
  height:30px;
}
#u14734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:left;
  line-height:60px;
}
#u14735 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:248px;
  width:118px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:left;
  line-height:60px;
}
#u14735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:114px;
  word-wrap:break-word;
}
#u14736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:left;
  line-height:60px;
}
#u14737 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:410px;
  width:118px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:left;
  line-height:60px;
}
#u14737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:114px;
  word-wrap:break-word;
}
#u14738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#90061D;
  line-height:60px;
}
#u14738 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:410px;
  width:136px;
  height:28px;
  font-size:14px;
  color:#90061D;
  line-height:60px;
}
#u14738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:132px;
  word-wrap:break-word;
}
#u14739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14741 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:579px;
  width:141px;
  height:56px;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:137px;
  word-wrap:break-word;
}
#u14742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u14743 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:589px;
  width:36px;
  height:36px;
}
#u14743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14744 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:591px;
  width:32px;
  height:32px;
}
#u14744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u14746 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:589px;
  width:36px;
  height:36px;
}
#u14746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14747 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:591px;
  width:32px;
  height:32px;
}
#u14747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u14749 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:589px;
  width:36px;
  height:36px;
}
#u14749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14750 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:591px;
  width:32px;
  height:32px;
}
#u14750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u14751 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:595px;
  width:15px;
  height:25px;
}
#u14751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14752 {
  position:fixed;
  left:50%;
  margin-left:0px;
  top:50%;
  margin-top:0px;
}
#u14752_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
}
#u14752_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:423px;
}
#u14754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u14755 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:13px;
  width:300px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u14755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u14756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:2px;
}
#u14756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:696px;
  height:1px;
}
#u14756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:119px;
}
#u14757 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:96px;
  width:119px;
  height:119px;
}
#u14757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u14758 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:96px;
  width:300px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u14758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:296px;
  word-wrap:break-word;
}
#u14759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
  text-align:left;
  line-height:28px;
}
#u14759 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:155px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#949494;
  text-align:left;
  line-height:28px;
}
#u14759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  word-wrap:break-word;
}
#u14760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14761 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:186px;
  width:22px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:18px;
  word-wrap:break-word;
}
#u14762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14762 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:185px;
  width:115px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
  line-height:60px;
}
#u14762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-15px;
  width:111px;
  word-wrap:break-word;
}
#u14763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:52px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14763 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:235px;
  width:604px;
  height:52px;
}
#u14763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:18px;
}
#u14764 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:237px;
  width:544px;
  height:48px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:18px;
}
#u14764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:540px;
  word-wrap:break-word;
}
#u14765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  line-height:60px;
}
#u14765 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:328px;
  width:408px;
  height:50px;
  font-size:28px;
  color:#FFFFFF;
  line-height:60px;
}
#u14765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:404px;
  word-wrap:break-word;
}
#u14766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14766 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:23px;
  width:20px;
  height:20px;
}
#u14766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u14767 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:185px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u14767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  word-wrap:break-word;
}
#u14768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u14768 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:186px;
  width:168px;
  height:30px;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u14768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:164px;
  word-wrap:break-word;
}
#u14769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:60px;
}
#u14769 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:671px;
  width:183px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:60px;
}
#u14769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  word-wrap:break-word;
}
#u14770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14770 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:736px;
  width:64px;
  height:12px;
}
#u14770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:773px;
}
#u14771 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:768px;
  width:1054px;
  height:773px;
}
#u14771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#359C80;
  text-align:left;
  line-height:60px;
}
#u14772 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:671px;
  width:183px;
  height:65px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#359C80;
  text-align:left;
  line-height:60px;
}
#u14772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  word-wrap:break-word;
}
#u14773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u14773 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:686px;
  width:1px;
  height:35px;
}
#u14773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(127, 0, 25, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14774 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:835px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u14774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  word-wrap:break-word;
}
#u14775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F0019;
}
#u14775 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:835px;
  width:54px;
  height:22px;
  color:#7F0019;
}
#u14775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:50px;
  word-wrap:break-word;
}
