body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:954px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:409px;
  background:inherit;
  background-color:rgba(148, 148, 148, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:409px;
}
#u4752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:396px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4755 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:5px;
  width:273px;
  height:396px;
}
#u4755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4756 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:5px;
  width:273px;
  height:241px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4756_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4756.mouseDown {
}
#u4756_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4756.selected {
}
#u4756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:97px;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:43px;
  width:87px;
  height:97px;
}
#u4757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(139, 201, 8, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:294px;
  width:135px;
  height:50px;
}
#u4759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:304px;
  width:75px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:71px;
  word-wrap:break-word;
}
#u4761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4761 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:631px;
  height:396px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4761_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4761.mouseDown {
}
#u4761_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4761.selected {
}
#u4761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4762 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:21px;
  width:92px;
  height:85px;
}
#u4762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4763 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:22px;
  width:90px;
  height:85px;
}
#u4763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4764 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:22px;
  width:90px;
  height:85px;
}
#u4764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4765 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:21px;
  width:90px;
  height:85px;
}
#u4765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4766 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:22px;
  width:90px;
  height:85px;
}
#u4766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:22px;
  width:90px;
  height:85px;
}
#u4767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:22px;
  width:90px;
  height:85px;
}
#u4768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:120px;
  width:90px;
  height:85px;
}
#u4769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:120px;
  width:90px;
  height:85px;
}
#u4770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:120px;
  width:90px;
  height:85px;
}
#u4771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:120px;
  width:90px;
  height:85px;
}
#u4772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:120px;
  width:90px;
  height:85px;
}
#u4773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:120px;
  width:90px;
  height:85px;
}
#u4774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:223px;
  width:90px;
  height:85px;
}
#u4775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4776 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:223px;
  width:90px;
  height:85px;
}
#u4776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4777 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:223px;
  width:90px;
  height:85px;
}
#u4777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4778 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:223px;
  width:90px;
  height:85px;
}
#u4778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4779 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:223px;
  width:90px;
  height:85px;
}
#u4779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:223px;
  width:90px;
  height:85px;
}
#u4780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:91px;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:19px;
  width:76px;
  height:91px;
}
#u4781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:152px;
  width:116px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u4782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  word-wrap:break-word;
}
#u4783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:185px;
  width:162px;
  height:44px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u4783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:158px;
  word-wrap:break-word;
}
#u4784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:91px;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:19px;
  width:76px;
  height:91px;
}
#u4784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:91px;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:19px;
  width:76px;
  height:91px;
}
#u4785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:91px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:19px;
  width:76px;
  height:91px;
}
#u4786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:76px;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:26px;
  width:68px;
  height:76px;
}
#u4787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
