body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1158px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1158px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:110px;
  width:1200px;
  height:66px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:910px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:176px;
  width:1200px;
  height:910px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:118px;
  width:266px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:262px;
  word-wrap:break-word;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:996px;
  width:1200px;
  height:90px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:982px;
  width:1200px;
  height:104px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 142, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#008EFA;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:1013px;
  width:175px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#008EFA;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#007CDB;
  text-align:right;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:1016px;
  width:104px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#007CDB;
  text-align:right;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:1031px;
  width:17px;
  height:10px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:192px;
  width:1162px;
  height:780px;
  overflow:hidden;
}
#u365_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:780px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:780px;
}
#u366_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:780px;
  overflow:hidden;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:780px;
  overflow:hidden;
}
#u367_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:780px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u367_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:796px;
}
#u368_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:796px;
  overflow:auto;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:60px;
  width:1200px;
  height:50px;
  font-size:11px;
  color:#000000;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008EFA;
  text-align:left;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:64px;
  width:266px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008EFA;
  text-align:left;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#007CDB;
  text-align:right;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:66px;
  width:104px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#007CDB;
  text-align:right;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
