body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u6122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6124 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:134px;
  width:289px;
  height:273px;
}
#u6124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:225px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:177px;
  width:280px;
  height:225px;
}
#u6126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 51, 51, 0.898039215686275);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:140px;
  width:280px;
  height:37px;
}
#u6127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6128 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:144px;
  width:227px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:223px;
  word-wrap:break-word;
}
#u6129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FF00;
}
#u6130 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:195px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#66FF00;
}
#u6130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FF00;
}
#u6131 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:195px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#66FF00;
}
#u6131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FF00;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:195px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#66FF00;
}
#u6132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FF00;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:195px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#66FF00;
}
#u6133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FF00;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:195px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#66FF00;
}
#u6134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#66FF00;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:195px;
  width:30px;
  height:30px;
  font-size:18px;
  color:#66FF00;
}
#u6135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6137 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:235px;
  width:64px;
  height:28px;
}
#u6137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6138 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:235px;
  width:64px;
  height:28px;
}
#u6138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6139 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:235px;
  width:64px;
  height:28px;
}
#u6139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6140 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:273px;
  width:64px;
  height:28px;
}
#u6140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6141 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:273px;
  width:64px;
  height:28px;
}
#u6141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:273px;
  width:64px;
  height:28px;
}
#u6142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:311px;
  width:64px;
  height:28px;
}
#u6143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:311px;
  width:64px;
  height:28px;
}
#u6144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:311px;
  width:64px;
  height:28px;
}
#u6145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6146 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:349px;
  width:64px;
  height:28px;
}
#u6146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:349px;
  width:64px;
  height:28px;
}
#u6147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:349px;
  width:64px;
  height:28px;
}
#u6148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6150_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:34px;
  height:34px;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:130px;
  width:30px;
  height:30px;
}
#u6150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:130px;
  width:30px;
  height:30px;
}
#u6151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
