body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:911px;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:911px;
}
#u3743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:639px;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:262px;
  width:928px;
  height:639px;
}
#u3744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:648px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:263px;
  width:137px;
  height:648px;
}
#u3745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:649px;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:262px;
  width:63px;
  height:649px;
}
#u3746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:651px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:260px;
  width:96px;
  height:651px;
}
#u3747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:652px;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:259px;
  width:93px;
  height:652px;
}
#u3748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:655px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:256px;
  width:73px;
  height:655px;
}
#u3749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:274px;
  width:113px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u3750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:109px;
  word-wrap:break-word;
}
#u3751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:274px;
  width:154px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u3751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:150px;
  word-wrap:break-word;
}
#u3752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:274px;
  width:154px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:24px;
}
#u3752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:150px;
  word-wrap:break-word;
}
#u3753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:652px;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:259px;
  width:403px;
  height:652px;
}
#u3753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
