body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:901px;
  height:40px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u5835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:897px;
  word-wrap:break-word;
}
#u5836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u5836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1331px;
  height:747px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1331px;
  height:747px;
}
#u5837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
