body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:324px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:533px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:533px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:10px;
  width:288px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:284px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:29px;
  width:11px;
  height:11px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:76px;
  width:288px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:103px;
  width:11px;
  height:11px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:156px;
  width:288px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:284px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:176px;
  width:11px;
  height:11px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:222px;
  width:288px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:249px;
  width:11px;
  height:11px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:302px;
  width:288px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:329px;
  width:11px;
  height:11px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:383px;
  width:288px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:410px;
  width:11px;
  height:11px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:471px;
  width:270px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:266px;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
