body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12467 {
  position:fixed;
  left:0px;
  top:0px;
}
#u12467_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background-image:none;
}
#u12467_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u12468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12469 {
  position:fixed;
  right:20px;
  top:0px;
}
#u12469_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:453px;
  height:50px;
  background-image:none;
}
#u12469_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12471 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u12471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u12472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12472 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u12472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u12473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12473 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u12473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u12474 {
  position:absolute;
  left:237px;
  top:0px;
}
#u12474_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:216px;
  height:38px;
  background-image:none;
}
#u12474_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(223, 134, 223, 1);
  border:none;
  border-radius:500px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u12475 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:13px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u12475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u12474_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
  visibility:hidden;
  background-image:none;
}
#u12474_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:36px;
  height:36px;
}
#u12477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u12478 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:117px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u12478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u12479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u12479 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:13px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u12479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u12480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12481 {
  border-width:0px;
  position:absolute;
  left:-1000px;
  top:10px;
  width:306px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u12481_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:50px;
  -moz-box-shadow:3px 3px 3px rgba(27, 27, 27, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(27, 27, 27, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(27, 27, 27, 0.349019607843137);
  font-size:18px;
  color:#FFFFFF;
}
#u12481.selected {
}
#u12481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12482 {
  border-width:0px;
  position:absolute;
  left:-986px;
  top:17px;
  width:18px;
  height:18px;
}
#u12482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12483 {
  border-width:0px;
  position:absolute;
  left:-947px;
  top:13px;
  width:229px;
  height:25px;
}
#u12483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12485 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u12485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u12486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12486 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u12486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u12487 {
  position:fixed;
  right:0px;
  top:0px;
  visibility:hidden;
}
#u12487_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background-image:none;
}
#u12487_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12489 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:55px;
  height:50px;
}
#u12489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u12490 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:13px;
  width:36px;
  height:24px;
}
#u12490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u12491 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:11px;
  width:28px;
  height:28px;
}
#u12491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12492 {
  position:absolute;
  left:143px;
  top:7px;
}
#u12492_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background-image:none;
}
#u12492_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(223, 134, 223, 1);
  border:none;
  border-radius:500px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u12493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u12493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u12492_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u12492_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12494 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:36px;
  height:36px;
}
#u12494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12495_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:31px;
}
#u12495 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:11px;
  width:2px;
  height:28px;
}
#u12495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:887px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:887px;
}
#u12497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12498_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12498.mouseOver {
}
#u12498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u12499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12499_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12499.mouseOver {
}
#u12499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u12500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12500_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12500.mouseOver {
}
#u12500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u12501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12501_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u12501.mouseOver {
}
#u12501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u12502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:981px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1920px;
  height:981px;
}
#u12502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E4E4E4;
  text-align:left;
}
#u12503 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:124px;
  width:509px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#E4E4E4;
  text-align:left;
}
#u12503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:505px;
  word-wrap:break-word;
}
#u12504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:108px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12505 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:237px;
  width:924px;
  height:108px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u12506 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:251px;
  width:206px;
  height:25px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u12506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:202px;
  word-wrap:break-word;
}
#u12507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12507 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:252px;
  width:80px;
  height:80px;
}
#u12507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u12508 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:282px;
  width:71px;
  height:21px;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u12508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:67px;
  word-wrap:break-word;
}
#u12509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12509 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:267px;
  width:92px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u12510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:34px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12510 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:169px;
  width:924px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12511 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:172px;
  width:249px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u12512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u12512 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:174px;
  width:206px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u12512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:202px;
  word-wrap:break-word;
}
#u12513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u12513 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:271px;
  width:50px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u12513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  word-wrap:break-word;
}
#u12514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u12514 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:271px;
  width:67px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u12514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u12515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:34px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12515 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:203px;
  width:924px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12516 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:209px;
  width:322px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:318px;
  word-wrap:break-word;
}
#u12517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12517 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:209px;
  width:144px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  word-wrap:break-word;
}
#u12518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12518 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:209px;
  width:192px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:188px;
  word-wrap:break-word;
}
#u12519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12519 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:209px;
  width:234px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:20px;
}
#u12519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u12520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12520 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:311px;
  width:115px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u12521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12521 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:366px;
  width:92px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u12522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u12522 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:366px;
  width:107px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u12522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:103px;
  word-wrap:break-word;
}
#u12523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12523 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:423px;
  width:249px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u12524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#D290DB;
}
#u12524 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:133px;
  width:77px;
  height:21px;
  font-size:14px;
  color:#D290DB;
}
#u12524_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:73px;
  word-wrap:break-word;
}
