.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
._自由编辑 {
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
._图片1 {
  color:#000000;
}
.box_1 {
}
.box_3 {
}
.shape {
}
.box_2 {
}
.ellipse {
}
._文本段落1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本段落2 {
  text-align:left;
}
._图片3 {
  color:#000000;
}
._形状1 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
.image {
}
.button {
}
._复选框 {
  text-align:left;
}
._复选框1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.box_21 {
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image1 {
  color:#000000;
}
.label {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.icon {
}
._水平线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本段落3 {
  text-align:left;
}
._形状2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
.button_normal_seconday {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#FFFFFF;
}
.button_normal_primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  color:#76A9E0;
}
.button_pressed {
  color:#76A9E0;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
