body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:993px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:993px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:899px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:897px;
  width:720px;
  height:899px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:227px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1796px;
  width:720px;
  height:227px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
