body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:954px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:409px;
  background:inherit;
  background-color:rgba(148, 148, 148, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:409px;
}
#u4674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:396px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:5px;
  width:273px;
  height:396px;
}
#u4677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4678 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:5px;
  width:273px;
  height:241px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4678_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4678.mouseDown {
}
#u4678_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4678.selected {
}
#u4678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:104px;
}
#u4679 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:42px;
  width:181px;
  height:104px;
}
#u4679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4680 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:178px;
  width:116px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u4681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4682 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:111px;
  width:36px;
  height:35px;
}
#u4682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4683 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:117px;
  width:25px;
  height:25px;
}
#u4683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(139, 201, 8, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4685 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:294px;
  width:135px;
  height:50px;
}
#u4685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4686 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:304px;
  width:75px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:71px;
  word-wrap:break-word;
}
#u4687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4687 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:631px;
  height:396px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4687_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4687.mouseDown {
}
#u4687_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4687.selected {
}
#u4687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4688 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:22px;
  width:92px;
  height:85px;
}
#u4688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4689 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:22px;
  width:90px;
  height:85px;
}
#u4689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4690 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:22px;
  width:90px;
  height:85px;
}
#u4690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4691 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:22px;
  width:90px;
  height:85px;
}
#u4691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4692 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:22px;
  width:90px;
  height:85px;
}
#u4692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4693 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:22px;
  width:90px;
  height:85px;
}
#u4693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4694 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:22px;
  width:90px;
  height:85px;
}
#u4694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4695 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:120px;
  width:90px;
  height:85px;
}
#u4695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4696 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:120px;
  width:90px;
  height:85px;
}
#u4696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4697 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:120px;
  width:90px;
  height:85px;
}
#u4697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4698 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:120px;
  width:90px;
  height:85px;
}
#u4698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4699 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:120px;
  width:90px;
  height:85px;
}
#u4699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4700 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:120px;
  width:90px;
  height:85px;
}
#u4700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4701 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:223px;
  width:90px;
  height:85px;
}
#u4701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4702 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:223px;
  width:90px;
  height:85px;
}
#u4702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4703 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:223px;
  width:90px;
  height:85px;
}
#u4703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4704 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:223px;
  width:90px;
  height:85px;
}
#u4704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4705 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:223px;
  width:90px;
  height:85px;
}
#u4705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4706 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:223px;
  width:90px;
  height:85px;
}
#u4706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4707 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:27px;
  width:75px;
  height:75px;
}
#u4707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4708 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:27px;
  width:75px;
  height:75px;
}
#u4708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4709 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:27px;
  width:75px;
  height:75px;
}
#u4709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4710 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:27px;
  width:75px;
  height:75px;
}
#u4710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u4711 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:27px;
  width:75px;
  height:75px;
}
#u4711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#66FF00;
}
#u4712 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:83px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#66FF00;
}
#u4712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:79px;
  word-wrap:break-word;
}
