body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1755px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:36px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1755px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:36px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:656px;
  word-wrap:break-word;
}
