body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:869px;
}
#u13199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1903px;
  height:869px;
}
#u13199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:887px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1920px;
  height:887px;
}
#u13200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13202 {
  position:fixed;
  left:0px;
  top:0px;
}
#u13202_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background-image:none;
}
#u13202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:50px;
}
#u13203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13204 {
  position:fixed;
  right:20px;
  top:0px;
}
#u13204_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:453px;
  height:50px;
  background-image:none;
}
#u13204_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13206 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u13206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u13207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13207 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u13207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u13208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13208 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:0px;
  width:77px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u13208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u13209 {
  position:absolute;
  left:237px;
  top:0px;
}
#u13209_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:216px;
  height:38px;
  background-image:none;
}
#u13209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(223, 134, 223, 1);
  border:none;
  border-radius:500px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u13210 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:13px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u13210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u13209_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
  visibility:hidden;
  background-image:none;
}
#u13209_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:36px;
  height:36px;
}
#u13212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u13213 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:117px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u13213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u13214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u13214 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:13px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u13214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u13215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13216 {
  border-width:0px;
  position:absolute;
  left:-1000px;
  top:10px;
  width:306px;
  height:32px;
  font-size:18px;
  color:#FFFFFF;
}
#u13216_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:50px;
  -moz-box-shadow:3px 3px 3px rgba(27, 27, 27, 0.349019607843137);
  -webkit-box-shadow:3px 3px 3px rgba(27, 27, 27, 0.349019607843137);
  box-shadow:3px 3px 3px rgba(27, 27, 27, 0.349019607843137);
  font-size:18px;
  color:#FFFFFF;
}
#u13216.selected {
}
#u13216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u13217 {
  border-width:0px;
  position:absolute;
  left:-986px;
  top:17px;
  width:18px;
  height:18px;
}
#u13217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13218 {
  border-width:0px;
  position:absolute;
  left:-947px;
  top:13px;
  width:229px;
  height:25px;
}
#u13218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13220 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u13220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u13221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u13221 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u13221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u13222 {
  position:fixed;
  right:0px;
  top:0px;
  visibility:hidden;
}
#u13222_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background-image:none;
}
#u13222_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13224 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:55px;
  height:50px;
}
#u13224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u13225 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:13px;
  width:36px;
  height:24px;
}
#u13225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u13226 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:11px;
  width:28px;
  height:28px;
}
#u13226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13227 {
  position:absolute;
  left:143px;
  top:7px;
}
#u13227_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background-image:none;
}
#u13227_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(223, 134, 223, 1);
  border:none;
  border-radius:500px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#E4E4E4;
}
#u13228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  height:25px;
  font-size:14px;
  color:#E4E4E4;
}
#u13228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u13227_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:42px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u13227_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13229 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:0px;
  width:36px;
  height:36px;
}
#u13229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13230_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:31px;
}
#u13230 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:11px;
  width:2px;
  height:28px;
}
#u13230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:887px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:887px;
}
#u13232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13233_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13233.mouseOver {
}
#u13233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u13234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13234_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13234.mouseOver {
}
#u13234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u13235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13235_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13235.mouseOver {
}
#u13235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u13236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13236_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u13236.mouseOver {
}
#u13236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u13237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:203px;
}
#u13237 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:263px;
  width:206px;
  height:203px;
}
#u13237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
}
#u13238 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:503px;
  width:368px;
  height:24px;
}
#u13238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E9CCF8;
}
#u13239 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:188px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E9CCF8;
}
#u13239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
