body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:723px;
}
#u8723 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:0px;
  width:375px;
  height:723px;
}
#u8723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:726px;
}
#u8724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:726px;
}
#u8724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u8725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:664px;
}
#u8725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u8726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1228px;
  width:375px;
  height:54px;
}
#u8726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:753px;
}
#u8727 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:0px;
  width:375px;
  height:753px;
}
#u8727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
