body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:547px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:547px;
  font-size:14px;
  text-align:left;
}
#u5831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:607px;
  word-wrap:break-word;
}
