.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.box_11 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.box_2 {
}
.ellipse {
}
.button {
}
._图片 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._自由编辑 {
}
.connector {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
._水平线 {
}
._图片1 {
  color:#000000;
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.icon {
}
.primary_button {
  color:#FFFFFF;
}
.icon1 {
}
.box_21 {
}
._文本段落1 {
  text-align:left;
}
.label {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:left;
}
.text_field1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:left;
}
.image {
  color:#000000;
}
.placeholder {
}
.paragraph {
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.box_12 {
}
.box_3 {
}
.line1 {
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.box_22 {
}
.connector1 {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.flow_shape {
}
._文本段落2 {
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._复选框 {
  text-align:left;
}
._单选按钮 {
  text-align:left;
}
.image1 {
  color:#000000;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图片2 {
  color:#000000;
}
._垂直线 {
}
._形状1 {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._形状2 {
}
.image2 {
}
._流程形状 {
}
._8pt_text {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#333333;
  text-align:left;
}
.button_inactive {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#000099;
  text-align:center;
}
.h4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:15px;
  color:#666666;
  text-align:left;
}
.link_8pt_text_inactive {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#000099;
  text-align:left;
}
._水平线1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._图片3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本段落3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._文本框2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._形状3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._多行文本框1 {
  color:#000000;
  text-align:left;
}
._文本段落4 {
  text-align:left;
}
._一级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.horizontal_line {
}
.shape2 {
}
.vertical_line {
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._表格 {
}
._形状4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._图片4 {
  font-size:13px;
  color:#000000;
}
.image3 {
}
._列表框 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
._形状5 {
  font-size:13px;
  color:#000000;
}
.label2 {
  font-size:14px;
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.primary_button1 {
  color:#FFFFFF;
}
