body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:982px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:982px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:124px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:893px;
  width:720px;
  height:124px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
