body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:9482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1473px;
  height:1023px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:2044px;
  top:1090px;
  width:1473px;
  height:1023px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5835px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5835px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1245px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:1920px;
  height:1245px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:667px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:422px;
  width:961px;
  height:667px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:500px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:322px;
  width:300px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:188px;
  width:458px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:454px;
  word-wrap:break-word;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:241px;
  width:458px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:454px;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:422px;
  width:961px;
  height:667px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1511px;
  height:762px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:2044px;
  top:2174px;
  width:1511px;
  height:762px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:1296px;
  width:1206px;
  height:517px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:498px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:2106px;
  width:1206px;
  height:498px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:2644px;
  width:228px;
  height:52px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:2644px;
  width:228px;
  height:52px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#1890FF;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:1966px;
  width:458px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#1890FF;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:454px;
  word-wrap:break-word;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:2019px;
  width:458px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:454px;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:527px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:2137px;
  top:3035px;
  width:1424px;
  height:527px;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:399px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:1345px;
  width:632px;
  height:399px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:766px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:2159px;
  top:187px;
  width:1108px;
  height:766px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:1074px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:4454px;
  top:148px;
  width:760px;
  height:1074px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:537px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:3824px;
  top:148px;
  width:380px;
  height:537px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:537px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:3716px;
  top:819px;
  width:380px;
  height:537px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2398px;
  height:1280px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:3431px;
  top:1546px;
  width:2398px;
  height:1280px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:12714px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:5990px;
  top:0px;
  width:1920px;
  height:12714px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6349px;
  width:1916px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:415px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:5506px;
  top:4105px;
  width:294px;
  height:415px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:415px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:5426px;
  top:4068px;
  width:294px;
  height:415px;
  -webkit-transform:rotate(340deg);
  -moz-transform:rotate(340deg);
  -ms-transform:rotate(340deg);
  transform:rotate(340deg);
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:415px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:5346px;
  top:4059px;
  width:294px;
  height:415px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:551px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:8259px;
  top:4233px;
  width:1223px;
  height:551px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:537px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:4602px;
  top:4233px;
  width:380px;
  height:537px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:537px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:5600px;
  top:4848px;
  width:380px;
  height:537px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:537px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:5164px;
  top:4848px;
  width:380px;
  height:537px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:415px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:4831px;
  top:4848px;
  width:294px;
  height:415px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:793px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:2074px;
  top:3727px;
  width:1550px;
  height:793px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:637px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:2074px;
  top:4673px;
  width:948px;
  height:637px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:642px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:3079px;
  top:4673px;
  width:946px;
  height:642px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
