body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:932px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:932px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:904px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:870px;
  width:720px;
  height:904px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:308px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1728px;
  width:720px;
  height:308px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
