body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:540px;
}
#u2884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:38px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:251px;
  width:540px;
  height:38px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:880px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:-170px;
  width:540px;
  height:880px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:114px;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:213px;
  width:31px;
  height:114px;
}
#u2888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:260px;
  width:124px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:24px;
  color:#FFFFFF;
}
#u2889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:120px;
  word-wrap:break-word;
}
#u2890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:75px;
  background:inherit;
  background-color:rgba(30, 185, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:232px;
  width:508px;
  height:75px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:26px;
  color:#FFFFFF;
}
#u2890_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:75px;
  background:inherit;
  background-color:rgba(30, 185, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u2890.mouseDown {
}
#u2890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:504px;
  word-wrap:break-word;
}
