body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:911px;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:911px;
}
#u3691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:550px;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:361px;
  width:282px;
  height:550px;
}
#u3692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:551px;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:360px;
  width:95px;
  height:551px;
}
#u3693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:550px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:361px;
  width:99px;
  height:550px;
}
#u3694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:550px;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:361px;
  width:281px;
  height:550px;
}
#u3695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:538px;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:373px;
  width:64px;
  height:538px;
}
#u3696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:537px;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:374px;
  width:77px;
  height:537px;
}
#u3698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:371px;
  width:77px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:537px;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:374px;
  width:77px;
  height:537px;
}
#u3701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:371px;
  width:77px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:551px;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:360px;
  width:95px;
  height:551px;
}
#u3704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
  line-height:24px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:364px;
  width:95px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
  line-height:24px;
}
#u3705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:615px;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:336px;
  width:95px;
  height:615px;
}
#u3706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:615px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:336px;
  width:193px;
  height:615px;
}
#u3707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:297px;
  background:inherit;
  background-color:rgba(102, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:97px;
  width:627px;
  height:297px;
}
#u3708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:1891px;
  top:97px;
  width:603px;
  height:285px;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:599px;
  word-wrap:break-word;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:246px;
  width:0px;
  height:0px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3710_seg0 {
  border-width:0px;
  position:absolute;
  left:-293px;
  top:-4px;
  width:293px;
  height:8px;
}
#u3710_seg1 {
  border-width:0px;
  position:absolute;
  left:-293px;
  top:-4px;
  width:8px;
  height:118px;
}
#u3710_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3710_seg3 {
  border-width:0px;
  position:absolute;
  left:-309px;
  top:88px;
  width:40px;
  height:40px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:-252px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:94px;
  background:inherit;
  background-color:rgba(102, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:232px;
  width:372px;
  height:94px;
}
#u3711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:232px;
  width:357px;
  height:90px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:353px;
  word-wrap:break-word;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:279px;
  width:0px;
  height:0px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3713_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:19px;
  height:8px;
}
#u3713_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:8px;
  height:89px;
}
#u3713_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3713_seg3 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:59px;
  width:40px;
  height:40px;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
