body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:911px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:911px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:550px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:361px;
  width:282px;
  height:550px;
}
#u3711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:551px;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:360px;
  width:95px;
  height:551px;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:550px;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:361px;
  width:99px;
  height:550px;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:550px;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:361px;
  width:281px;
  height:550px;
}
#u3714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:538px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:373px;
  width:64px;
  height:538px;
}
#u3715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:537px;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:374px;
  width:77px;
  height:537px;
}
#u3717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:1496px;
  top:371px;
  width:77px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:537px;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:374px;
  width:77px;
  height:537px;
}
#u3720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:371px;
  width:77px;
  height:34px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
}
#u3721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:551px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:360px;
  width:95px;
  height:551px;
}
#u3723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
  line-height:24px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:364px;
  width:95px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#868686;
  line-height:24px;
}
#u3724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:615px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:336px;
  width:95px;
  height:615px;
}
#u3725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:615px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:336px;
  width:193px;
  height:615px;
}
#u3726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:297px;
  background:inherit;
  background-color:rgba(102, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:97px;
  width:627px;
  height:297px;
}
#u3727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:1891px;
  top:97px;
  width:603px;
  height:285px;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:599px;
  word-wrap:break-word;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:246px;
  width:0px;
  height:0px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3729_seg0 {
  border-width:0px;
  position:absolute;
  left:-293px;
  top:-4px;
  width:293px;
  height:8px;
}
#u3729_seg1 {
  border-width:0px;
  position:absolute;
  left:-293px;
  top:-4px;
  width:8px;
  height:118px;
}
#u3729_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3729_seg3 {
  border-width:0px;
  position:absolute;
  left:-309px;
  top:88px;
  width:40px;
  height:40px;
}
#u3729_text {
  border-width:0px;
  position:absolute;
  left:-252px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:94px;
  background:inherit;
  background-color:rgba(102, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:232px;
  width:372px;
  height:94px;
}
#u3730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:232px;
  width:357px;
  height:90px;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:353px;
  word-wrap:break-word;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:279px;
  width:0px;
  height:0px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3732_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:19px;
  height:8px;
}
#u3732_seg1 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-4px;
  width:8px;
  height:89px;
}
#u3732_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3732_seg3 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:59px;
  width:40px;
  height:40px;
}
#u3732_text {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
