body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:954px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:409px;
  background:inherit;
  background-color:rgba(148, 148, 148, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:409px;
}
#u4713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:396px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4716 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:5px;
  width:273px;
  height:396px;
}
#u4716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4717 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:5px;
  width:273px;
  height:241px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4717_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4717.mouseDown {
}
#u4717_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:241px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4717.selected {
}
#u4717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4718 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:178px;
  width:116px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u4719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:107px;
  width:36px;
  height:35px;
}
#u4720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:113px;
  width:25px;
  height:25px;
}
#u4721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:110px;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:36px;
  width:102px;
  height:110px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
  background:inherit;
  background-color:rgba(139, 201, 8, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:294px;
  width:135px;
  height:50px;
}
#u4724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:304px;
  width:75px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u4725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:71px;
  word-wrap:break-word;
}
#u4726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:5px;
  width:631px;
  height:396px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4726_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4726.mouseDown {
}
#u4726_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:396px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4726.selected {
}
#u4726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:21px;
  width:92px;
  height:85px;
}
#u4727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:22px;
  width:90px;
  height:85px;
}
#u4728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:22px;
  width:90px;
  height:85px;
}
#u4729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:21px;
  width:90px;
  height:85px;
}
#u4730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:22px;
  width:90px;
  height:85px;
}
#u4731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4732 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:22px;
  width:90px;
  height:85px;
}
#u4732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4733 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:22px;
  width:90px;
  height:85px;
}
#u4733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4734 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:120px;
  width:90px;
  height:85px;
}
#u4734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4735 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:120px;
  width:90px;
  height:85px;
}
#u4735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4736 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:120px;
  width:90px;
  height:85px;
}
#u4736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4737 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:120px;
  width:90px;
  height:85px;
}
#u4737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4738 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:120px;
  width:90px;
  height:85px;
}
#u4738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4739 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:120px;
  width:90px;
  height:85px;
}
#u4739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4740 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:223px;
  width:90px;
  height:85px;
}
#u4740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4741 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:223px;
  width:90px;
  height:85px;
}
#u4741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4742 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:223px;
  width:90px;
  height:85px;
}
#u4742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4743 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:223px;
  width:90px;
  height:85px;
}
#u4743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4744 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:223px;
  width:90px;
  height:85px;
}
#u4744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u4745 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:223px;
  width:90px;
  height:85px;
}
#u4745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:76px;
}
#u4746 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:27px;
  width:71px;
  height:76px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:76px;
}
#u4747 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:27px;
  width:71px;
  height:76px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:76px;
}
#u4748 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:27px;
  width:71px;
  height:76px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:76px;
}
#u4749 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:27px;
  width:71px;
  height:76px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:76px;
}
#u4750 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:27px;
  width:71px;
  height:76px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#66FF00;
}
#u4751 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:83px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#66FF00;
}
#u4751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:79px;
  word-wrap:break-word;
}
