body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:676px;
  background:-webkit-linear-gradient(315deg, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 1) 0%, rgba(94, 94, 94, 1) 68%, rgba(18, 18, 18, 1) 100%, rgba(18, 18, 18, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 1) 0%, rgba(94, 94, 94, 1) 68%, rgba(18, 18, 18, 1) 100%, rgba(18, 18, 18, 1) 100%);
  background:linear-gradient(135deg, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 1) 0%, rgba(94, 94, 94, 1) 68%, rgba(18, 18, 18, 1) 100%, rgba(18, 18, 18, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:375px;
  height:676px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:375px;
  height:51px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:101px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:101px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:375px;
  height:51px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:493px;
  width:321px;
  height:42px;
  color:#FFFFFF;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:317px;
  word-wrap:break-word;
}
