body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:921px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:921px;
  text-align:left;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  word-wrap:break-word;
}
