body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u3631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3632 {
  position:absolute;
  left:275px;
  top:358px;
}
#u3632_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:411px;
  height:90px;
  background-image:none;
}
#u3632_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:16px;
  background:inherit;
  background-color:rgba(221, 252, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:411px;
  height:16px;
}
#u3633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#66FF00;
  line-height:20px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:6px;
  width:32px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#66FF00;
  line-height:20px;
}
#u3634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:37px;
  width:176px;
  height:16px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
}
#u3636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:37px;
  width:176px;
  height:16px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
}
#u3637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:176px;
  height:16px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
}
#u3638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:14px;
  height:16px;
  overflow:hidden;
  visibility:hidden;
}
#u3639_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(25, 158, 216, 1);
  background-image:none;
}
#u3639_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3639_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(25, 158, 216, 1);
  background-image:none;
}
#u3639_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:64px;
  width:300px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
}
#u3640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
