body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1587px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:743px;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:46px;
  width:1193px;
  height:743px;
}
#u3666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:646px;
  width:975px;
  height:72px;
}
#u3667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:167px;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:644px;
  width:955px;
  height:167px;
}
#u3668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 145, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:823px;
  width:100px;
  height:32px;
  color:#FFFFFF;
}
#u3669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:823px;
  width:100px;
  height:32px;
  color:#363636;
}
#u3670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:710px;
  width:256px;
  height:34px;
}
#u3672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:714px;
  width:244px;
  height:25px;
}
#u3673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:710px;
  width:90px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u3675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:710px;
  width:17px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:13px;
  word-wrap:break-word;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:763px;
  width:256px;
  height:34px;
}
#u3677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:767px;
  width:244px;
  height:25px;
}
#u3678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:763px;
  width:90px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:763px;
  width:17px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:13px;
  word-wrap:break-word;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:654px;
  width:116px;
  height:34px;
}
#u3682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:658px;
  width:107px;
  height:25px;
}
#u3683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:654px;
  width:106px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:102px;
  word-wrap:break-word;
}
#u3685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:654px;
  width:17px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u3685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:13px;
  word-wrap:break-word;
}
#u3686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:654px;
  width:29px;
  height:34px;
  font-size:14px;
  color:#868686;
  text-align:left;
}
#u3686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  word-wrap:break-word;
}
#u3687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:654px;
  width:471px;
  height:34px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u3687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:467px;
  word-wrap:break-word;
}
#u3688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:248px;
  background:inherit;
  background-color:rgba(102, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:373px;
  width:627px;
  height:248px;
}
#u3688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:373px;
  width:603px;
  height:238px;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:599px;
  word-wrap:break-word;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:654px;
  width:0px;
  height:0px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3690_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-161px;
  width:8px;
  height:161px;
}
#u3690_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-161px;
  width:199px;
  height:8px;
}
#u3690_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u3690_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-177px;
  width:40px;
  height:40px;
}
#u3690_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-165px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
